{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollSite</title>

    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="bdy">
        <div class="containerForm" id="containerForm">
        </div>
        <div class="containerResult" id="containerResult">
            
        </div>
    </div>


    <script src="/static/home.js"></script>
</body>
</html>